# Dependencies
node_modules
.pnp
.pnp.js

# Next.js
.next
out

# Git
.git
.gitignore



# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store

# Docker
Dockerfile*
docker-compose*
.dockerignore

# SSH / Keys
*.pem

# Documentation
README.md